*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    background-color: green;
    color: aliceblue;
    padding: 6px 25px;
    border: gray solid;
    border-radius: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
button:hover{
    background-color: lightgreen;
    color: green;
}

label{
    display: inline-block;
    width: 150px;
    padding-right: 10px;
}

form > div{
    margin-top: 10px;
}

form{
    background-color: antiquewhite;
    padding: 30px;
    width: fit-content;
    margin-left: 20px;
    margin-top: 20px;
}